/* 共通部分 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/* 背景画像 */
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(top.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}

/* 背景画像の上の文字 */
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* ヘッダー部分 */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
